---
source_url: https://docs.aws.amazon.com/iot/latest/apireference/API_iotdeviceadvisor_TestResult.html
---

# TestResult
<a name="API_iotdeviceadvisor_TestResult"></a>

Show each group result.

## Contents
<a name="API_iotdeviceadvisor_TestResult_Contents"></a>

 ** groups **   <a name="iot-Type-iotdeviceadvisor_TestResult-groups"></a>
Show each group of test results.
Type: Array of [GroupResult](API_iotdeviceadvisor_GroupResult.md) objects
Required: No

## See Also
<a name="API_iotdeviceadvisor_TestResult_SeeAlso"></a>

For more information about using this API in one of the language-specific AWS SDKs, see the following:
+  [AWS SDK for C\+\+](https://docs.aws.amazon.com/goto/SdkForCpp/iotdeviceadvisor-2020-09-18/TestResult)
+  [AWS SDK for Java V2](https://docs.aws.amazon.com/goto/SdkForJavaV2/iotdeviceadvisor-2020-09-18/TestResult)
+  [AWS SDK for Ruby V3](https://docs.aws.amazon.com/goto/SdkForRubyV3/iotdeviceadvisor-2020-09-18/TestResult)
